# =========================
# DATABASE
# =========================
DATABASE_URL=postgresql+psycopg://neondb_owner:npg_5QGOzcHYN0IM@ep-rough-sound-ap231d0h.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require

# =========================
# BACKEND
# =========================
BACKEND_PORT=8000
SECRET_KEY=campainha
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# =========================
# FRONTEND
# =========================
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000