# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
*.log

# Alembic (cache)
alembic/__pycache__/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/

dist/
build/
*.egg-info/